/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    outline: 2px black solid;
}


h1, h2, h3 {
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

p{
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

 main section img {

    border-radius: 20px;
}

img:hover{  
    transition: scale 700ms;
    scale: 1.04;
}

.me-flex img:first-child{
    filter: grayscale(30)   
}

/* Styles du header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 32px;
}



header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin-right: 20px;
}



header nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.teststick {
    position: relative;
    top: 0;
    z-index: 9999;
}

nav{
    position: sticky;
    top: 0;
    
}

/* Styles de la section principale */
.moi img, .mesProjets img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    
    
    padding: 0 10px;
  }

main {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

main h2 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 20px;
}

main section h3 {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}

main p {
    margin-bottom: 10px;
    text-align: justify;
    padding: 0px 20px;
}

main a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    background-color: #ffddd2;
    padding: 5px 10px;
    border-radius: 3px;
}

main section p{
    width: 50%;
}

.projet1, .projet2, .projet3{
    background-color: #edf6f9;
    padding-bottom: 10px;
}

/* Flexbox des projets */
.me-flex, .projet-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}

/* Stles de mon parcours */
.bold{
    font-weight: bold;
}

.workImg{
    padding-top: 20px;
    width: 200px;
    height: auto;
}

.parcours-flex{
    display: flex;
    flex-direction: column;
}

.parcour{
    display: flex;
    justify-content: space-between;

}

.parcours-flex p:first-child{
    font-size: 30px;
    margin: 0px 0px 40px 0px;
}

.parcours-flex p:nth-child(2){
    font-size: 20px;
    margin: 0px 0px 40px 0px;
}


/* Styles du formulaire de contact */
form {
    margin-top: 20px;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Centrer les labels */
}

form input[type="text"],
form input[type="email"],
textarea {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    margin: auto;
}

textarea {
    height: 100px;
    max-width: 50%;
    min-width: 40%;
}

form input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 4px auto; /* Centrer le bouton */
    display: block; /* Afficher le bouton en tant que bloc */
}

/* Styles du footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    font-weight: bold;
}

/* Responsiv design */
@media screen and (max-width: 1256px) {
.me-flex{
    justify-content: center;
    align-items: space-between;
}

.me-flex img{
    padding: 10px 0;
}

.projet-flex{
    justify-content: center;
    align-items: space-between;
}

main section p{
    width: 100%;
}

}

@media screen and (max-width: 685px) {
.me-flex img,.projet-flex img{
        width: 90%;
        height: auto;
    }

    .me-flex, .projet-flex{
        flex-direction: column;
    }

main p{
    padding: 0px 0px;
}

.description{
    margin: 10px 0px;
}

}